{% extends "template.html" %}
{% block conteudo %}
    <!-- Exibe dados do contato -->
    <table class="table table-striped table-responsive table-bordered">
        <tbody>
            <!-- Usa o for para procurar na lista -->
            {% for item in contatos %}
                <!-- Verifica pelo nome -->
                {% if item.nome == acesso %}
                    <tr>
                        <!-- Retorna nome -->
                        <td class="text-right">Nome</td>
                        <td class="col-sm-12">{{ item.nome }}</td>
                    </tr>
                        <!-- Retorna telefone -->
                    <td class="text-right">Telefone</td>
                    <td class="col-sm-12">{{ item.telefone }}</td>
                    </tr>
                    <tr>
                        <!-- Retorna email -->
                        <td class="text-right">Email</td>
                        <td class="col-sm-12">{{ item.email }}</td>
                    </tr>
                    <!-- Verifica todos os enderecos na lista de endereco -->
                    {% for endereco in item.endereco %}
                        <tr>
                            <!-- Retorna cada endereco -->
                            <td class="text-right">Endereço</td>
                            <td class="col-sm-12">
                                Rua {{ endereco['logradouro'] }}, {{ endereco['complemento'] }}<br>
                                {{ endereco['bairro'] }}, {{ endereco['localidade'] }} - {{ endereco['uf'] }}<br>
                                CEP {{ endereco['cep'] }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br>
    <!-- Cadastro de endereço -->
    <h2>CADASTRO DE ENDEREÇO</h2>
        <!-- Busca o usuario -->
        {% for item in contatos %}
            {% if item.nome == acesso %}
                <form action="{{ url_for('endereco') }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <!-- input de cep -->
                            <label for="cep">Cep</label>
                            <input type="text" id="cep" name="cep" class="form-control">
                        </div>
                        <div class="form-group">
                            <!-- input de complemento -->
                            <!-- Complemento pode ser número ou loteamento com quadra -->
                            <label for="complemento">Complemento</label>
                            <input type="text" id="complemento" name="complemento" class="form-control">
                        </div>
                        <div>
                            <!-- Retorna sempre o usuario referente da tabela -->
                            <input type="hidden" id="nome" name="nome" value="{{ item.nome }}"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
                    </fieldset>
                </form>
            {% endif %}
        {% endfor %}
    <br><a href="{{ url_for('index') }}"><button class="btn btn-danger">Voltar</button></a>
{% endblock %}